.notification {
    -fx-pref-height: 20px;
    -fx-padding: 10px;
    -fx-background-radius: 8px;
    -fx-text-fill: black;
    -fx-font-size: 13px;
}

.success {
    -fx-background-color: #7bf542;
}
.warning {
    -fx-background-color: #fcfc5b;
}
.error {
    -fx-background-color: #fc5b5b;
}
.announcement {
    -fx-background-color: #5bd9fc;
}

/* test help border */
.border {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 8px;
}

